.body-canvas{
  margin: auto;
  display:flex;
  flex-direction: column;
}

.hidden{
  display: none;
}



.strong{
  position: relative;
  left: 600px; top: 59px;
  width: 100px;
  height:20px;
}



strong p{
  animation: 1.5s rainbow;
  animation-fill-mode: forwards;
}

@keyframes rainbow {
  0% { font-size: 35px; color: #a6a6a6; }
  25% {font-size: 30px; color: #bfbfbf; }
  50% {font-size: 25px; color: #d9d9d9; }
  75% {font-size: 20px; color: #e6e6e6; }
  100% {opacity: 0;}
}



.body-canvas div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.body-canvas div p{
  color: white;
}

.body-canvas ul{
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  float: right;
  background-color: white;
  text-align: center
}

.links{
  margin: 0 35% 0 35%;
  height: 50px;
  display: flex;
}


h2{
  margin: auto;
  font-size: 50px;
  color: black;
  color: white;
  }

body{
  display: flex;
  flex-direction: column;
  background-image: url("../image/79581c739f8acf4.jpg");
  background-size: 100% auto;

 }


 button{
   padding: 10px;
   margin: 5px;
   border: 1px solid black;
   border-radius: 5px;
   float: right;
   background-color: white;
   cursor: pointer;
   outline: black;
 }

 button:hover{
   background-color: grey;
   color: white;
 }

 .links a{
   padding: 10px;
   margin: 5px;
   border: 1px solid black;
   border-radius: 5px;
   background-color: white;
   text-decoration: none;
 }

 .links p{
   color: white;
   font: 20px;
   margin-left: auto;
 }

 .form{
   position: fixed;
   top: 415px;
   right: 44%;
 }

 .form input{
   padding: 6px;
   width: 160px;
   height: 25px;
   border: 5px;
   background-color: lightgrey;
   color: white;
   font-size: 20px;
   border-radius: 5px;
   outline: black;
 }
